@import "./variables";

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin link {
  padding: 10px 20px;
  text-decoration: none;
}

@mixin inverted {
  background: $stockBlack;
  border: $border-black;
  color: $stockWhite;
}
