@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600&display=swap");

$stockBlack: #323232;
$stockWhite: #f5f5f5;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;

$border-black: 2px solid $stockBlack;
$border-white: 2px solid $stockWhite;

$heading: 32px;
$subheading: 20px;
$tablet-subheading: 24px;
