@import "../../styles/global.scss";

.contact {
  padding: 5%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__message {
    font-size: 16px;
    font-weight: 500;
    margin: 5vh 0;
  }
  &__links {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__link {
    margin: 0 10px;
    transition: 0.1s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
}
